body {
    background-color: black;
}

@font-face {
    font-family: "comicsans";
    src: url("assets/comic.tff");
}

.header {
    color: white;
}

#title {
    font-size: 30px;
    color: red;
    text-align: center;
}

#maintext {
    text-align: center;
}

#directions {
    text-align: center;
}

.stats-contain {
    display: inline;
}

.player-stats {
    float: left;
    text-align: left;
}

.enemy-stats {
    margin-top: 50px;
    text-align: right;
}

.buttons {
    padding: 100px 0;
}

.option-contain {
    padding: 10px 25em;
}

.options {
    width: 100%;
    height: 12.5%;
    color: ;
    font-family: comicsans !important;
    font-size: 22px;
    background-color: #CCCCCC;
}

.options:hover {
    background-color: #8C8C8C;
    color: black;
}

#settings:hover {
    background-color: #8C8C8C;
}

.foot {
    font-family: 'Raleway', sans-serif;
	font-size: 12px;
	text-align: center;
    width:25%
	padding:0;
	margin: 0;
	border:0;
    color: yellow;
}
